In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['A','B','C'])

In [3]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
df1 = pd.DataFrame([[11,5,13],[14,2,16],[17,8,19]], columns=['X','Y','Z'])

In [12]:
df1

    X  Y   Z
0  11  5  13
1  14  2  16
2  17  8  19

In [13]:
df3 = pd.merge(df,df1, right_on='Y', left_on='B')

In [14]:
df3

   A  B  C   X  Y   Z
0  1  2  3  14  2  16
1  4  5  6  11  5  13
2  7  8  9  17  8  19