In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[2,3,4,5], [7,8,9,20], [22,33,44,55],[12,13,14,15],[40,50,60,70]], columns=["a", "b", "c", "d"])

In [3]:
df1

    a   b   c   d
0   2   3   4   5
1   7   8   9  20
2  22  33  44  55
3  12  13  14  15
4  40  50  60  70

In [4]:
df1.to_csv('export.csv', index=False)